body, html {
    height: 100%;
    margin: 0;
    margin: 24px;
  }

.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: #8C0303 ;
  }
  
  .nav-tabs .nav-link {
    color: #FFD023;
    background-color: #FFD023;
    border: 3px solid #FFD023;
    margin-right: 10px;
    padding: 10px 20px; /* Increase padding */
    font-size: 14px; /* Increase font size */
    border-radius: 5px; /* Add border radius */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
    font-weight: bold;
  }
  
  .nav-tabs .nav-link:hover {
    background-color: #8C0303 ; /* Change background color on hover */
    color: #FFD023;
  }
  
  .nav-tabs .nav-link.active {
    color: #FFD023;
    background-color: #8C0303;
    border: 3px solid #FFD023;
    font-style: normal;
    text-decoration:none;
  }
  
  .nav-tabs .nav-link, .nav-tabs .nav-link a {
    text-decoration: none;
    color: inherit;
  }
  
  .tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 10px;
    background-color: #fff;
    height: auto; 
    width: 100%;
    margin-top: 16px;
  }

  .progress-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step {
    width: 120px; 
    height: 30px;
    margin: 10px;
    background-color: #ccc;
    border-radius: 5px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .progress-step.active {
    background-color:#FFD023;
    color: #C0091E;
  }

  .h1-style {
    text-align: center;
    color: #C0091E; /* change this to your desired color */
}

  .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow {
    cursor: pointer;
    margin: 0 20px;
    font-size: 24px; 
    color: #C0091E;
  }
  .disabled {
    pointer-events: none;
    color: #ccc;
  }
